API_BIBLE_KEY=your_api_bible_key_here
PUBLIC_API_BIBLE_BASE=https://rest.api.bible/v1
PUBLIC_API_BIBLE_BID_ES=your_spanish_bible_id_here
PUBLIC_API_BIBLE_BID_EN=your_english_bible_id_here
PUBLIC_BIBLE_API_BASE=https://bible-api.com
PUBLIC_PASSAGE_FORMAT_VERSION=5
